html,
body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
  color: dimgrey;
}

/* header styles */
.header {
  text-align: center;
  padding: 20px 0 10px 0;
  background-color: rgb(199, 199, 199);
}

.subHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.name {
  font-size: 3rem;
  padding-right: 10px;
  padding-left: 10px;
}

.linkedin {
  width: 8%;
}

.linkedin img {
  width: 100%;
}

/* nav styles */
.nav {
  background-color: rgb(213, 213, 213);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.navItem {
  text-decoration: none;
  color: inherit;
  padding-left: 10px;
}

.cs {
  padding: 15px 0 0 0;
}

.banner {
  height: 50vh;
  background-image: url("../assets/bannerBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerText {
  color: rgb(230, 225, 219);
  font-size: 4em;
  font-weight: bolder;
  text-shadow: 3px 3px 3px grey;
}

/* media queries */
@media screen and (max-width: 500px) {
  .name {
    font-size: 2rem;
  }

  .linkedin {
    width: 15%;
  }

  .cs {
    padding: 0;
  }
}

.sectionTitle {
  text-align: center;
  font-size: 2em;
  padding: 15px 0;
}

.section {
  height: 50vh;
  display: flex;
  flex-direction: row;
}

.image {
  width: 50%;
}

.image img {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.projectTitle {
  font-size: 1.5em;
  padding: 0 0 15px 0;
}

.viewButton {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  color: wheat;
  background-color: darkred;
  font-weight: bolder;
  visibility: hidden;
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.section:hover .viewButton {
  animation: showButton 1s normal forwards;
}

@keyframes showButton {
  0% {
    visibility: visible;
    width: 0;
  }

  100% {
    display: flex;
    width: 100px;
    visibility: visible;
  }
}

.text a:nth-last-child(1) {
    background-color: transparent;
    border: 2px solid green;
    color: rgb(53, 53, 53);
}

@media screen and (max-width: 250px) {
  .name {
    font-size: 1.2rem;
  }

  .linkedin {
    width: 20%;
  }

  .cs {
    padding: 0;
  }
}

.mobile {
    display: none;
}

@media screen and (max-width: 750px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .section {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .image {
    width: 100%;
    border: 0;
  }
  .text {
    width: 100%;
    height: auto;
    border: 0;
    margin-bottom: 20px;
  }
  .viewButton {
    display: none;
  }
  .image img {
    border: 0;
  }
  
  a {
      text-decoration: none;
      color: inherit;
  }
}

.stack {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  height: 40vh;
  font-size: 1.3em;
}

.stackLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 10px;
  padding: 50px;
  border: 1px solid black;
}

.logo {
  width: 100%;
}